{
    "extends": "stylelint-config-standard",
    "rules": {
        "declaration-block-properties-order": "alphabetical",
        "declaration-block-trailing-semicolon": "always",
        "indentation": 4
    }
}
